<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/assets/css/normalize.css" />
  <link rel="stylesheet" href="/assets/css/index.css" />
</head>

<body>
  <div class="bg">
    <div class="wrap">
      {{{ body }}}
    </div>
  </div>

</body>

</html>